/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #f4f6f8;
    color: #333;
}

/* Navbar */
header {
    background-color:#1e1b4b;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PORTFOLIO NAME COLOR */
.logo {
    color:plum; /* PURPLE */
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: #c7d2fe;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    color: #38bdf8;
}

/* HERO SECTION */
.home {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px;
    flex-wrap: wrap;
}

.home-content {
    max-width: 500px;
}

.home-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #0f172a;
}

/* YOUR NAME COLOR */
.home-content h1 span {
    color: #38bdf8; /* SKY BLUE */
}

.home-content h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #555;
}

.home-content p {
    margin-bottom: 20px;
    line-height: 1.6;
}
/* Buttons */
.do-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
}

.btn-primary {
    background-color: #38bdf8;
    color: #fff;
}

.btn-secondary {
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.85;
}

/* Image */
.home-image img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #a78bfa;
}

/* Highlights */
.highlights {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.highlight-card {
    background: #ffffff;
    padding: 25px;
    width: 260px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.highlight-card i {
    font-size: 32px;
    color: #38bdf8;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #1e1b4b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.social-links a {
    color: #c7d2fe;
    font-size: 20px;
    margin: 0 8px;
}

.social-links a:hover {
    color: #38bdf8;
}

/* Responsive */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .home-content h1 {
        font-size: 32px;
    }
}

